In [2]:
a = 10

In [3]:
a

10

In [4]:
print(a)

10

In [5]:
b = float(432.234)
print(type(b))

<class 'float'>

In [6]:
c = True
print(type(c))

<class 'bool'>

In [7]:
d = 'abcd'
print(type(d))

<class 'str'>

In [8]:
idata = input()

123456

In [9]:
print(idata)

123456

In [10]:
print(type(idata))

<class 'str'>

In [13]:
int(idata) + 300

123756

In [14]:
fdata1 = float(input())

123.456

In [15]:
print(type(fdata1))

<class 'float'>

In [16]:
idata1, idata2, idata3 = 10, 20, 30

In [21]:
print(idata1, idata2, idata3, sep = '-', end = '\n')
print(idata1)

10-20-30
10

In [22]:
label = [10, 20, 30]

In [23]:
label

[10, 20, 30]

In [24]:
type(label)

list

In [25]:
ldata2=[100, 'abcd', True, 3234.2332]
ldata2

[100, 'abcd', True, 3234.2332]

In [27]:
ldata3=[[10,20,30], [40,50,60]]
ldata3

[[10, 20, 30], [40, 50, 60]]

In [28]:
ldata4=[[10,20], [30,40,50,60], [60,70,80]]
ldata4

[[10, 20], [30, 40, 50, 60], [60, 70, 80]]

In [31]:
ldata4[1]

[30, 40, 50, 60]

In [32]:
ldata4[1][2]

50

In [33]:
ldata5=['서울', '부산','인청', '대구', '울산']
ldata5

['서울', '부산', '인청', '대구', '울산']

In [35]:

ldata5[0]

'서울'

In [36]:
ldata5[-2]

'대구'

In [38]:
ldata5[1:]

['부산', '인청', '대구', '울산']

In [39]:
ldata5[:3]

['서울', '부산', '인청']

In [41]:
ldata5[:-1]

['서울', '부산', '인청', '대구']

In [42]:
ldata5

['서울', '부산', '인청', '대구', '울산']

In [44]:
ldata5[:-1]

['서울', '부산', '인청', '대구']

In [46]:
ldata5[-3:]

['인청', '대구', '울산']

In [47]:
label5 = ['서울', '부산', '인청', '대구', '울산', '광저', '목포', '대전']
label5

['서울', '부산', '인청', '대구', '울산', '광저', '목포', '대전']

In [49]:
ldata5[::2]

['서울', '인청', '울산']

In [50]:
ldata5[1:5:2]

['부산', '대구']

In [51]:
ldata5[::-1]

['울산', '대구', '인청', '부산', '서울']

In [52]:
ldata5[-2::-2]

['대구', '부산']

In [53]:
ldata5[::-1]

['울산', '대구', '인청', '부산', '서울']

In [54]:
ldata5

['서울', '부산', '인청', '대구', '울산']

In [55]:
label5 = ['서울', '부산', '인청', '대구', '울산', '광저', '목포', '대전']

In [56]:
ldata5

['서울', '부산', '인청', '대구', '울산']

In [57]:
l1 = ['red', 'blue', 'green']

In [58]:
l2 = l1*2

In [59]:
le

NameError: name 'le' is not defined

In [60]:
l2

['red', 'blue', 'green', 'red', 'blue', 'green']

In [61]:
l2.remove('red')
l2

['blue', 'green', 'red', 'blue', 'green']

In [62]:
l2.sort()

In [63]:
l2

['blue', 'blue', 'green', 'green', 'red']

In [64]:
l2.sort()

In [65]:
for i in range(0, 5, 1):
    print(i)

0
1
2
3
4

In [66]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
ldata1=[20,50,40,10,30]
for i in ldata1:
    print (i)

20
50
40
10
30

In [69]:
ivalue = 400
fvalue = 3232.3425

str1 = '정수값: %d, 실수값: %f' %(ivalue, fvalue)
str1

'정수값: 400, 실수값: 3232.342500'

In [72]:
'정수값: {0} 실수값: {1}'.format(ivalue, fvalue)

'정수값: 400 실수값: 3232.3425'

In [73]:
'정수값: {}, 실수값: {}'.format(ivalue, fvalue)

'정수값: 400, 실수값: 3232.3425'