In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json as json

In [9]:
with open('spaceCompanies.json','r') as json_file :

    ddata = json.load(json_file)

In [10]:
df = pd.DataFrame(ddata)
df

                                             companies  success
0    {'_id': '58caff366ed7bb3c6ee62d16', 'company':...     True
1    {'_id': '58d163cd6ed7bb3c6ee62e63', 'company':...     True
2    {'_id': '58d2bcc36ed7bb3c6ee62ebc', 'company':...     True
3    {'_id': '58d2e0a56ed7bb3c6ee62f04', 'company':...     True
4    {'_id': '58d37e276ed7bb3c6ee62fa7', 'company':...     True
..                                                 ...      ...
149  {'_id': '5fc622ed7d4cc4392b19d7f4', 'company':...     True
150  {'_id': '5fff03e7975ca80e320d443f', 'company':...     True
151  {'_id': '600737136739ef1c3b04e5f0', 'company':...     True
152  {'_id': '600833e33b2b9b72c4662c25', 'company':...     True
153  {'_id': '6011d10b6c2daf044dd2d7b6', 'company':...     True

[154 rows x 2 columns]